@import "./filmData.scss";
@import "./footer.scss";
@import "./header.scss";
@import "./nav.scss";
@import "./pageSpecifics.scss";
@import "./search.scss";

body {
  // position: absolute;
  // top: 0;
  // left: 0;
  margin: 0;
  // padding: 20px;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: rgb(52, 52, 52);
  // background-color: #dbd1ee;
  // background: rgb(247,169,63);
  // background: linear-gradient(0deg, rgba(247,169,63,1) 8%, rgba(235,72,148,1) 100%);
  
}

.links{
  text-decoration: none;
  color: white;
}



  


