body {
  // position: absolute;
  // top: 0;
  // left: 0;
  margin: 0;
  // padding: 20px;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #dddfd4;
  // background-color: #dbd1ee;
  // background: rgb(247,169,63);
  // background: linear-gradient(0deg, rgba(247,169,63,1) 8%, rgba(235,72,148,1) 100%);
  
}


//MAIN MEDIA DISPLAY

.media-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transition: .8s ease-in-out;
  position: relative;
  gap: 10px;
  margin-bottom: 50px;
  }

  .media-box{
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px ;
    outline: 0.5px solid rgb(40, 40, 40);
  }
  
  .media-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    text-align: center;
    width: 150px;
    height: 320px;
    margin: 20px 20px;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgb(142, 142, 142);
    border-radius: 5px;
    position: relative;
    transform-style: preserve-3d;
    transition: .5s ease-in-out;
    perspective:1000px;
    outline: 0.5px solid rgb(40, 40, 40);
  }
  
  .media-items:hover{
    transform: rotateY(180deg);
    transition: .5s ease-in-out;
  }
  
  
  .media-image-box{
  
    & img {
      position: absolute;
      top:0;
      left:0;
      width: 100%;
      height: 100%;
      object-fit: cover contain;
      border-radius: 5px;
    }
  }
  
  .media-content-box{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform-style:preserve-3d;
    transform:rotateY(180deg);
    background: rgb(247,169,63);
    background: linear-gradient(0deg, rgba(247,169,63,1) 8%, rgba(235,72,148,1) 100%);
    border-radius: 5px;
    outline: 0.5px solid rgb(40, 40, 40);
  }
  
  .media-content-box-child{
    transform-style: preserve-3d;
    padding: 20px;
    background:rgb(235, 247, 249);
    transform: translateZ(100px);
    border-radius: 5px;
    outline: 0.5px solid rgb(40, 40, 40);
  }


//MOVIE PAGE

.movie-header{
  
  text-align: center;
  margin: 40px;
}





//SEARCH LANDING PAGE
.search-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100vw;
}

.search-items{
  display: flex;
  flex-direction: row;
  align-items: center;
  // justify-content: center;
  object-fit: contain;
  text-align: center;
  margin: 20px;
  margin-left: 350px;
  padding: 15px;
  background-color:azure;
  border-radius: 5px;
  gap: 15px;
  width: 800px;
  & img{
    width: 200px;
  }
}

.form-container{
  // width:80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, rgba(247,169,63,1) 8%, rgba(235,72,148,1) 100%);;
  border-radius: 5px;
  margin: 0px 200px ;
  padding: 40px 10px;
  gap: 5px;

  & button{
    border-radius: 5px;
    margin-left: 10px;
    // text-decoration: none;
    background-color: rgb(166, 221, 235);
    color: white;
  }
}

#search{
  border-radius: 5px;
}

.intro-text{
  text-align: center;
  margin: 20px;
}


//TV PAGE
.tv-header{
  
  text-align: center;
  margin: 40px;
}


  
  //NAV
  .navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 400px;
    // z-index: 3;
  }

  .navbar-text{
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 16px;
    z-index: 3;
    padding-right: 50px;
    border-right: 2px solid #000;
   & a {
    text-decoration: none;
    color: black;
    // z-index: 3;
   }
  }

  .navbar-text-last{
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 16px;
    z-index: 3;
    // padding-right: 40px;
    // border-right: 2px solid #000;
   & a {
    text-decoration: none;
    color: black;
    // z-index: 3;
   }
  }

  //BOXOFFICE PAGE

  .box-header{
    // font-size: 20px;
    text-align: center;
    margin: 40px;
  }
  
  
  

  .all-box-office-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px;
    // margin-bottom: 550px;
  }

  .all-box-office-items{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-start;
    margin: 0px 90px;
    // margin-bottom: 150px;
    padding: 35px;
    background-color: rgb(142, 142, 142);
    border-bottom: 0.5px solid #fff;
    transition: 1s ease-in-out;
  }

  .all-box-office-items:hover{
    background-color: rgb(172, 207, 209);
  }

  //THEATRES PAGE
  .coming-title{
    // color: white;
    // font-size: 20px;
    text-align: center;
    margin: 40px;
  }

  .theatre-title{
    // color: white;
    // font-size: 20px;
    text-align: center;
    margin: 40px;
  }

  
  // paralax scroller

  #main-title{
    z-index: -1;
    text-align: center;
    font-size: 48px;
  }

  #chairs-front{
    // height: 600px;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    z-index: 1;
  }

  .black-section{
    background-color: rgb(52, 52, 52);
    padding: 100px 0px;
  }


  //Footer 

  .footer-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    gap: 10px;
    margin-top: auto;
    // background-color: rgb(52, 52, 52);
  }

  .text{
    text-align: center;
  }